body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    color: #fff;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.balance-card {
    position: relative;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(145deg, #1e1e1e, #2a2a2a);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 400px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.coin-icon img {
    width: 80px;
    margin-bottom: 10px;
}

.balance-info h1 {
    font-size: 1.5em;
    color: #00d2ff;
    margin-bottom: 10px;
}

.balance-info p {
    font-size: 2em;
    color: #ff9800;
    margin: 0;
}

.balance-animation .pulse {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    animation: pulse 5s infinite ease-in-out;
}

.balance-animation .shine {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transform: skewX(-15deg);
    animation: shine 5s infinite ease-in-out;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

@keyframes shine {
    0% {
        left: -100%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}

/* Навигация */
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #222;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

.nav-button {
    color: #fff;
    background-color: #444;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-button.active {
    background-color: #ff9800;
}

.nav-button:hover {
    background-color: #555;
}

/* Airdrop и модальные окна */
button {
    padding: 10px 20px;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffbb33;
}
